body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 1.5rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 0.5rem;

    animation: moveintop 0.3s ease-out;
    animation-fill-mode: backwards;

    /* animation-name: moveintop;
      animation-duration: 0.3s;
      animation-timing-function: ease-out; */

    /* animation-delay: 1s; */
    /* animation-iteration-count: 2; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.5rem;

    margin-top: -2rem;

    animation: moveintop 0.7s ease-out 0.2s;
    animation-fill-mode: backwards;

    /* animation-name: moveintop;
      animation-duration: 0.7s;
      animation-timing-function: ease-out; */
  }
}
